img{
  margin-bottom: 0.5rem;
}

.time{
  font-size: 1rem;
  font-weight: 600;
  animation: fadeIn 0.5s ease 0.3s forwards;
  color: #3498db;
  text-shadow: 4px 4px 6px #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(255, 255, 255);
}
section{
  position: relative;
}

h1 {
  /* 1 pixel black shadow to left, top, right and bottom */
  font-size: 3rem;
  font-weight: 600;
  animation: fadeIn 0.5s ease 0.3s forwards;
  color: #3498db;
  text-shadow: 4px 4px 6px #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(255, 255, 255);
}

/* .card {
  background: linear-gradient(90deg,
      rgb(49, 112, 41) 0%,
      rgb(78, 205, 74) 100%);
  border-color: black;
  border-width: 0.1cm;
  max-width: 100%;
  width: 100%;
  margin: 2em auto;
} */