<header>
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
</header>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Prospective Client's Record</h1>
            <img class="imgs mb-4 mt-3" src="https://i.ibb.co/NSpgrS1/life.png"> 
            <h6>Please enter username & password</h6>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="sweetalert2.all.min.js"></script>
            <script src="sweetalert2.min.js"></script>
          </div>
          
              <form [formGroup]="loginform">
                  <div class="mb-3 mt-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input formControlName="username" type="username" class=" form-control" id="exampleInputEmail1" placeholder="Username" aria-describedby="emailHelp">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your Username with anyone else.</div> -->
                    <span class="text-danger" *ngIf="loginform.controls['username'].dirty && loginform.hasError('required','username')">*Username is required</span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="text-center">
                    <button (click)="login()" type="submit" [disabled]="!loginform.valid" class="btn btn-warning mt-2">Login</button>
                  </div>
                  <!-- <button (click)="login()"> Simple Alert </button> -->
                </form>
                <!-- <a style="color: aliceblue; margin-top: 10px;" routerLink="/signup">New user ? Click to signup!</a> -->
        </div>
      </div>
    </div>
</div>

</body>

  
